{% extends "base.html" %}

{% block title %}Edit your account{% endblock %}

{% block content %}
<style>
    .edit-account-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .edit-account-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .edit-account-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .edit-account-container input[type="submit"] {
        background-color: #073980;
        color: white;
        padding: 14px 20px;
        margin: 8px 0 0 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    }
    .edit-account-container input[type="submit"]:hover {
        background-color: #B9D9EB;
        border: #073980 solid 2px;
        color: #073980;
    }
</style>
<div class="edit-account-container">
    <h1>Edit your account</h1>
    <p>You can edit your account using the following form:</p>
    <form method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save changes"></p>
    </form>
</div>
{% endblock %}