{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<style>
  .welcome-container {
    width: 300px;
    padding: 16px;
    background-color: #B9D9EB;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome-container h1 {
    text-align: center;
    margin-bottom: 24px;
  }

  .welcome-container p {
    text-align: center;
  }

  .welcome-container a {
    text-align: center;
    font-weight: bold;
    background-color: #073980;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    text-decoration: none;
  }

  .welcome-container a:hover {
    background-color: #B9D9EB;
    border: #073980 solid 2px;
    color: #073980;
  }
</style>
<div class="welcome-container">
  <h1>Welcome {{ new_user.first_name }}!</h1>
  <p>Your account has been successfully registered.</p>
  <a href="{% url 'login' %}">Log in</a>
</div>
{% endblock %}