{% extends "base.html" %}

{% block title %}Time-Stress | Register{% endblock %}

{% block content %}
<style>
    .register-container {
        width: 400px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .register-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .register-container input[type="submit"] {
      background-color: #073980;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    }
    .register-container input[type="submit"]:hover {
        background-color: #B9D9EB;
        border: #073980 solid 2px;
        color: #073980;
    }
    .register-container input[type="text"], .register-container input[type="password"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .register-container input[type="text"], .register-container input[type="email"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 4px;
    }
    .register-container label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
    #id_username_helptext {
        display: none;
    }
</style>
<div class="register-container">
    <h1>Create an account</h1>
    <p><a href="{% url 'login' %}">Already have an account?</a></p>
    <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Register"></p>
    </form>
</div>
{% endblock %}