<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    Someone asked for password reset for email {{ email }}. Follow the link below:
</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="color: #073980; text-decoration: none;">
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </a>
</p>
<p style="font-family: Arial, sans-serif; font-size: 16px; color: #333;">
    Your username, in case you've forgotten: {{ user.get_username }}
</p>