{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<style>
    .password-change-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-change-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .password-change-container p {
        text-align: center;
    }
    .password-change-container a {
        background-color: #073980;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
        text-decoration: none;
    }
    .password-change-container a:hover {
        background-color: #B9D9EB;
        border: #073980 solid 2px;
        color: #073980;
    }
</style>
<div class="password-change-container">
    <h1>Password changed</h1>
    <p>Your password has been successfully changed.</p>
    <a href="{% url 'login' %}">Log in</a>
</div>
{% endblock %}