{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<style>
    .password-reset-done-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-reset-done-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .password-reset-done-container p {
        text-align: center;
    }
</style>
<div class="password-reset-done-container">
    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure you've entered the address you registered with.</p>
</div>
{% endblock %}