{% extends "base.html" %}

{% block title %}Time-Stress | Forgot Password{% endblock %}

{% block content %}
<style>
    .password-reset-form-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-reset-form-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .password-reset-form-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-reset-form-container input[type="submit"] {
        background-color: #073980;
        color: white;
        padding: 14px 20px;
        margin: 8px 0 0 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    }
    .password-reset-form-container input[type="submit"]:hover {
        background-color: #B9D9EB;
        border: #073980 solid 2px;
        color: #073980;
    }
</style>
<div class="password-reset-form-container">
    <h1>Forgot your password?</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
        <p>{{ form.email.label_tag }} {{ form.email }}</p>
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}