{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<style>
    .password-reset-complete-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-reset-complete-container h1 {
        text-align: center;
        margin-bottom: 24px;
    }
    .password-reset-complete-container p {
        text-align: center;
    }
    .password-reset-complete-container a {
        color: #073980;
        text-decoration: none;
    }
    .password-reset-complete-container a:hover {
        text-decoration: underline;
    }
</style>
<div class="password-reset-complete-container">
    <h1>Password set</h1>
    <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
</div>
{% endblock %}