{% extends "base.html" %}

{% block title %}Change your password{% endblock %}

{% block content %}
<style>
    .password-change-form-container {
        width: 300px;
        padding: 16px;
        background-color: #B9D9EB;
        margin: 0 auto;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-change-form-container h1 {
        text-align: center;
        margin-bottom: 14px;
    }
    .password-change-form-container form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-change-form-container input[type="text"],
    .password-change-form-container input[type="password"] {
        width: 100%;
        padding: 12px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .password-change-form-container input[type="submit"] {
        background-color: #073980;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease-in, border 0.3s ease-in, color 0.3s ease-in;
    }
    .password-change-form-container input[type="submit"]:hover {
        background-color: #B9D9EB;
        border: #073980 solid 2px;
        color: #073980;
    }
    ul {
        display: none;
        margin: 0;
        padding: 0;
    }
</style>
<div class="password-change-form-container">
  <h1>Change your password</h1>
  <form method="post">
      <p>{{ form.old_password.label_tag }} {{ form.old_password }}</p>
      <p>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</p>
      <p>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</p>
      <p><input type="submit" value="Change"></p>
      {% csrf_token %}
  </form>
</div>
{% endblock %}